@charset "UTF-8";
body {
    background-color: blueviolet;
}


h1#title {
    color: rgb(242, 242, 249);
    text-align: center;
    margin-top: 5%;


}


form#myForm {
    color: rgb(242, 242, 249);
    text-align: center;
    margin-top: 5%;


}

input#nome {
    font-size: 16px;


}

input#email {
    font-size: 16px;


}

input#button {
    font-size: 16px;
    color: rgb(63, 33, 215);
    text-align: center;
    font-size: 16px;



}
