html {
  height: 100%;
  width: 100%;
}

img {
  align-items: center;
  height: 400px;
  padding: 6px;
}

.logo {
  width: 100px;
  height: auto;
  float: left;
}

.perfil {
  width: 100px;
  height: auto;
  float: right;
}


.container {
  display: flex;
  align-items: center width:80%;
  border: solid rgb(48, 87, 230) 10px;
  border-radius: 15px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1%;
  margin-top: 30px;
  background-color: #dfd4ed;
}

body {
  text-align: center;
  font-family: Open Sans, Sans Serif;
  font-size: 20px;
  margin: 0px 0px 0px 30px;
}

h1 {
  font-size: 60px;
  font-weight: 300px;
  color: purple;
}

h2 {
  color: #8a5bc2;
  font-size: 40px;
}

h3 {
  color: #900fcc;
  font-size: 60px;
  text-align: left;
}

h6 {
  text-align: right;
}

ul {
  font-size: 20pt;
  list-style-type: none;
  line-height: 2;
  padding-left: 0;
}

.principal a {
  text-decoration: none;
  color: #07030c;
  font-weight: bold;
  padding: 30px;
}

.principal li {
  display: inline;
  line-height: 4;
  margin: 0 10px;
}

.principal ul li a {
  background: #753097;
  height: 40px;
  max-width: 0;
  margin: 0 auto;
  border: solid 2px;
  border-color: #1e7137;
}

.principal a:hover {
  background-color: #536eac;
  border-bottom: 6px solid;
}

p {
  color: #050505;
  font-size: 30pt;
}

.btn {
  font-size: 40px;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-button: 20%;
  padding: 10px;
  font-weight: bold;
  margin-top: 20px;
}

.btn-1 {
  color: #a358ad;
  background-color: #3b3bce;
  border-bottom: 15px solid;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}